<a href="https://colab.research.google.com/github/elabdibeirut/WBSFLIX/blob/main/WBSFLIX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving links.csv to links.csv
Saving movies.csv to movies.csv
Saving ratings.csv to ratings.csv
Saving tags.csv to tags.csv

In [ ]:
import io
links = pd.read_csv(io.BytesIO(uploaded['links.csv']))
movies = pd.read_csv(io.BytesIO(uploaded['movies.csv']))
ratings = pd.read_csv(io.BytesIO(uploaded['ratings.csv']))
tags = pd.read_csv(io.BytesIO(uploaded['tags.csv']))

# Exploratory Data Analysis

In [ ]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [ ]:
links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB

In [ ]:
links.isnull().sum()

movieId    0
imdbId     0
tmdbId     8
dtype: int64

In [ ]:
movies.head()

,movieId,title,genres,index
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1
1,2,Jumanji (1995),Adventure|Children|Fantasy,2
2,3,Grumpier Old Men (1995),Comedy|Romance,3
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,4
4,5,Father of the Bride Part II (1995),Comedy,5

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
 3   index    9742 non-null   int64
dtypes: int64(2), object(2)
memory usage: 304.6+ KB

In [ ]:
movies.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [ ]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [ ]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [ ]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [ ]:
tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.2+ KB

In [ ]:
tags.isnull().sum()

userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

Get a movie name from the user and give them the recommendations

In [ ]:
vectorizer = TfidfVectorizer()
vect_movies = vectorizer.fit_transform(movies)
similarity = cosine_similarity(vect_movies)

In [ ]:
movie_name = input('Hello! To spare you the agony of choices, please enter your favourite movie name : ')

Hello! To spare you the agony of choices, please enter your favourite movie name : Toy Story (1995)

In [ ]:
similarity = cosine_similarity(vect_movies)

In [ ]:
movies['index'] = movies['movieId']

In [ ]:
list_of_all_titles = movies['title'].tolist()
get_close_match = difflib.get_close_matches(movie_name, list_of_all_titles)
close_match = get_close_match[0]
index_of_the_movie = movies[movies.title == close_match]['index'].values[0]
similarity_score = list(enumerate(similarity[index_of_the_movie])) 
sorted_similar_movies = sorted(similarity_score, key = lambda x:x[1], reverse = True)


print('Here are our suggestions for you. Enjoy watching! : \n')

i = 1

for movie in sorted_similar_movies:
  index = movie[0]
  title_from_index = movies[movies.index==index]['title'].values[0]
  if (i<30):
    print(i, '.',title_from_index)
    i+=1

Here are our suggestions for you. Enjoy watching! :

1 . Jumanji (1995)
2 . Toy Story (1995)
3 . Grumpier Old Men (1995)

In [ ]:
print(get_close_match)

[]

Recommendations based on the watch history

In [ ]:
! pip install scikit-surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     || 771 kB 6.2 MB/s
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise) (1.21.6)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.8/dist-packages (from scikit-surprise) (1.7.3)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp38-cp38-linux_x86_64.whl size=2626487 sha256=5d6e1465fa5ccc5b4e00c5c02c844eb73b5945c1b3c7e1b542799022c5d928a1
  Stored in directory: /root/.cache/pip/wheels/af/db/86/2c18183a80ba05da35bf0fb7417aac5cddbd93bcb1b92fd3ea
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.3

In [ ]:
from surprise import KNNBasic
from surprise import Dataset
from surprise import Reader
from surprise import KNNWithMeans

In [ ]:
df = pd.merge(ratings, movies, on='movieId', how='inner')

In [ ]:
df = df.drop(['movieId', 'timestamp', 'genres', 'index'], axis=1, inplace=True)

In [ ]:
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(df[["userID", "title", "rating"]], reader)

TypeError: ignored

In [ ]:
sim_options = {
        "name": "cosine",   #pearson, cosine, msd
        "user_based": True, #user or item based similarity
}

algo = KNNWithMeans(sim_options=sim_options)
trainingSet = df.build_full_trainset() #train on the full set of data
algo.fit(trainingSet)

AttributeError: ignored